{% extends 'admin_base.html' %}
{% block profile_active %}active{% endblock %}

{% block content %}

<form action="" method="post">
<div class="jumbotron justify-content-center mx-auto mt-5 signup"  style="width: 400px;">
    {% if result %}
    
        <table id="users" class="table table-bordered">
            <tr class="table-info">
                <th>Airline ID</th>
                <th>Airline Name</th>
            </tr>
            {% for row in result %}
            <tr class="table-info">
                <td> {{ row[0] }}</td>
                <td> {{ row[1] }}</td>
            </tr>
            {% endfor %}
            
        </table>
    
    {% endif %}
</div>
</form>
{% endblock %}