<!DOCTYPE html>
{% extends 'auth_base.html' %}
{% block title %}Login{% endblock %}  
{% block login_active %}active{% endblock %}  

{% block content %}
<div class="jumbotron justify-content-center mx-auto mt-5 login" style="width: 400px;">
    <form action="" method="post">
        <div class="form-group">
            <label for="exampleInputUname1">Username</label>
            <input type="text" name="input_uname" class="form-control" id="exampleInputUname1" placeholder="Enter username">
            <label for="exampleInputPassword1" class="mt-4">Password</label>
            <input type="password" name="input_passwd" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
</div>
{% endblock %}