<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Print Ticket</title>
</head>
<body>
    <div class="jumbotron mx-auto w-75 py-5">
        <h3>Ticket details:</h3>
        <hr>
        <div class="row my-4">
            <div>
                <img src="/static/QR.png" alt="" class="w-75 h-75">
            </div>
            <div class="border-right border-dark col">
                <span class="badge badge-secondary">ticket no.</span>
                <span class="small">1818181</span>
                <br><br>
                <span class="badge badge-secondary">Passenger Name:</span>
                <span class="small">John Doe</span>
                <br><br>
                <span class="badge badge-info">From:</span>
                <span>Source</span>
            </div>
            <div class="w-50 col">
                <span class="badge badge-secondary">Flight no.</span>
                <span class="small">ABC123</span>
                <br><br>
                <span class="badge badge-secondary">Seat No.</span>
                <span class="small">11A</span>
                <br><br>
                <span class="badge badge-info">To:</span>
                <span>Destination</span>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
