<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Flight Management System</title>
</head>
<body>
    <div class="page-header">
        <center><h1>Flight_name</h1></center>
        <center><p>Flying made easy</p></center>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" id="signupButton">Sign Up</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/" id="loginButton">Login</a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="jumbotron justify-content-center mx-auto mt-5 signup" style="width: 400px;">
        <form>
            <div class="form-group">
                
                <label for="exampleInputPassport" class="mt-4">Passport Number</label>
                <input type="text" name="input_pno" class="form-control" id="exampleInputPassport" placeholder="Passport Number">
                
                <label for="exampleInputFname" class="mt-4">First Name</label>
                <input type="text" name="input_fname" class="form-control" id="exampleInputFName" placeholder="First Name">

                <label for="exampleInputLname" class="mt-4">Last Name</label>
                <input type="text" name="input_lname" class="form-control" id="exampleInputLName" placeholder="Last Name">

                <label for="exampleInputDOB" class="mt-4">Date of Birth</label>
                <input type="date" name="input_dob" class="form-control" id="exampleInputDOB" placeholder="Date of Birth">
                
                <label for="exampleInputAddress" class="mt-4">Current Address</label>
                <input type="text" name="input_address" class="form-control" id="exampleInputAddress" placeholder="Address">

                <label for="exampleInputPhone" class="mt-4">Phone Number</label>
                <input type="text" name="input_phone" class="form-control" id="exampleInputPhone" placeholder="Phone Number" maxlength="10">

                <label for="exampleInputUsername1">Username</label>
                <input type="text" name="input_uname" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp" placeholder="Enter username">

                <label for="exampleInputPassword1" class="mt-4">Password</label>
                <input type="password" name="input_password" class="form-control" id="exampleInputPassword1" placeholder="Password">

                <label for="exampleInputPassword2" class="mt-4">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Re-Enter Password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
    <script src="index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>